body {
    margin: 0;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    font-size: 14px;
    background-color: #4450d5;
    overflow: auto;
    height: 100%;
  }

 a{
  color: #249e64;
 } 
 a:hover{
  color: #249e64;
  text-decoration: none;
 }
 .active-c-pointer{
   cursor: pointer;
 }
 .navbar-light .navbar-brand,
 .navbar-light .navbar-brand:hover {
  font-size: 35px;
  color: #34d186;
}

input[type="email"]:focus,
input[type="number"]:focus,
.form select:focus {
  border-color: #249e64;
  box-shadow: 0 1px 1px #249e64;
  outline: 0 none;
}

input[type="checkbox"]{
  width: 20px;
  height: 20px;
}

input:-webkit-autofill{
  transition: background-color 5000s ease-in-out 0s;
}